@import 'card';
@import 'hero';
@import 'footer';

body, html {
    height: 100%;
    margin: 0;
}

header {
    background-color: #88008D;
    text-align: center;
    color: white;
    h1 {
        margin: 0;
        padding: 30px;
    }
}
